{% extends 'base.html.twig' %}

{% block title %}Labela business{% endblock %}

{% block body %}
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    

    <!-- Page Content -->
    
    <!-- Bannière du site -->
    {% include "home/sections/banner.html.twig" %}

    <div class="request-form">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <!--<h4>N'hésitez pas à nous contacter</h4>
            <span>Mauris ut dapibus velit cras interdum nisl ac urna tempor mollis.</span>
          </div>
          <div class="col-md-4">
            <a href="{{path('app_contact')}}" class="border-button">Contactez-nous</a>-->
          </div>
        </div>
      </div>
    </div>

    <div class="services" id="services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Nos <em>Services</em></h2>
              <span>Nous vous accompagnons tout au long de votre projet</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="{{asset('build/images/service_01.jpg')}}" alt="">
              <div class="down-content">
                <h4>Accompagnement et réseau</h4>
                <p>Nos experts francophones, anglophones et arabophones, basés en France et aux Émirats Arabes Unis,  vous accompagnent réellement de A à Z et vous font profiter de notre réseau d'entrepreneurs.</p>
                
                <a href="" class="filled-button">En savoir plus</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="{{asset('build/images/service_02.jpg')}}" alt="">
              <div class="down-content">
                <h4>Pôle juridique</h4>
                <p>Avoir un visa de résidence aux Emirats Arabes Unis ne suffit pas à obtenir la résidence fiscale. Nos experts effectuent toutes les démarches nécessaires pour vous faire profiter du traité de non-double imposition.</p>
                <a href="" class="filled-button">En savoir plus</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="{{asset('build/images/service_03.jpg')}}" alt="">
              <div class="down-content">
                <h4>Pôle administratif</h4>
                <p>Les Free zones affichent des frais d'installation très attractifs mais beaucoup de frais de fonctionnement demeurent cachés. Nos experts vous exposent ces couts en toute transparence.</p>
                <a href="" class="filled-button">En savoir plus</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fun-facts">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="left-content">
              <span>Labela Business</span>
              <h2>Nos solutions pour accroitre <em>votre entreprise</em></h2>
              <!--<p>Pellentesque ultrices at turpis in vestibulum. Aenean pretium elit nec congue elementum. Nulla luctus laoreet porta. Maecenas at nisi tempus, porta metus vitae, faucibus augue. 
              <br><br>Fusce et venenatis ex. Quisque varius, velit quis dictum sagittis, odio velit molestie nunc, ut posuere ante tortor ut neque.</p>-->
              <a href="" class="filled-button">Read More</a>
            </div>
          </div>
          <div class="col-md-6 align-self-center">
            <div class="row">
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">999</div>
                  <div class="count-title">Heures travaillées</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">999</div>
                  <div class="count-title">Excellentes critiques</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">999</div>
                  <div class="count-title">Projets réalisés</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">999</div>
                  <div class="count-title">Récompenses</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="more-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content" id="about">
              <div class="row">
                <div class="col-md-6">
                  <div class="left-image">
                    <img src="assets/images/more-info.jpg" alt="">
                  </div>
                </div>
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <span>Qui sommes-nous ?</span>
                    <h2>Faites connaissance avec  <em>notre entreprise</em></h2>
                    
                    <p>Implantée à Sharjah depuis plusieurs années, notre équipe est composée d'experts juridiques et administratifs pour vous accompagner et vous aider à propulser votre activité.</p>
                    <a href="#" class="filled-button">En savoir plus</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="testimonials">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Que dit-on  <em>à propos de nous</em></h2>
              <span>Témoignages de nos meilleurs clients</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-testimonials owl-carousel">
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>George Walker</h4>
                  <span>Spécialiste de marché</span>
                  <p>"Un service complet et professionnel avec une équipe attentive."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>John Smith</h4>
                  <span>Expert comptable</span>
                  <p>"Une équipe polyglotte, réactive et compétente."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>David Wood</h4>
                  <span>Responsable marketing</span>
                  <p>"Des conseils précieux et de grande qualité qui m'ont empêché de nombreuses erreurs."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>Andrew Boom</h4>
                  <span>Responsable analyse financière</span>
                  <p>"Un accompagnement de A à Z. Actuellement implanté aux Emirats, je suis toujours accompagné par l'équipe Labela Business."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- Formulaire de contact -->    
    {% include "home/sections/contact_form.html.twig" %}    



    <div class="partners">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="owl-partners owl-carousel">
            
              {# <div class="partner-item">
                <img src="{{asset('build/images/client-01.png')}}"title="1" alt="1">
              </div>
              
              <div class="partner-item">
                <img src="{{asset('build/images/client-01.png')}}" title="2" alt="2">
              </div>
              
              <div class="partner-item">
                <img src="{{asset('build/images/client-01.png')}}" title="3" alt="3">
              </div>
              
              <div class="partner-item">
                <img src="{{asset('build/images/client-01.png')}}" title="4" alt="4">
              </div>
              
              <div class="partner-item">
                <img src="{{asset('build/images/client-01.png')}}" title="5" alt="5">
              </div> #}
              
            </div>
          </div>
        </div>
      </div>
    </div> 


    <!-- footer du site -->
    
    {% include "home/sections/footer.html.twig" %}

{% endblock %}
